<div class="col-sm-3 sidenav no-padding">
  <div class="left">
    <div class="top form-group">
      <select class="form-control" id="select-type-chat">
        <option value="all-chat">Toàn bộ trò chuyện</option>
        <option value="personal-chat">Trò chuyện cá nhân</option>
        <option value="group-chat">Trò chuyện nhóm</option>
      </select>
      <a
        href="#groupChatModal"
        class="create-group-chat"
        data-toggle="modal"
        title="Tạo một nhóm trò chuyện mới"
      ></a>
    </div>
    <ul id="contact-list" class="people no-padding-start">
      <% contactedUsers.forEach((item) => { %>
      <li
        id="li-<%= item.user._id %>"
        class="person"
        data-uid="<%= item.user._id %>"
      >
        <div class="left-avatar">
          <div class="dot"></div>
          <img src="../../images/users/<%= item.user.avatar %>" alt="" />
        </div>
        <span class="name">
          <%= item.user.username %>
        </span>
        <span class="time">Một phút trước</span>
        <span class="preview">
          <% if (user._id == item.latestMessage.sender){ %>Bạn: <% } %> <%=
          item.latestMessage.content %>
        </span>
      </li>
      <% }); %>
    </ul>
  </div>
</div>
