<div class="modal fade" id="groupChatInfoModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin nhóm</h4>
            </div>
            <div class="modal-body">
                <div style="display:flex; justify-content: space-between;">
                    <div class="text-center" id="div-update-group-avatar" style="width: 45%;display: flex;">
                        <div id="image-edit-profile">
                            <img src="/images/users/group.png" id="group-modal-avatar" class="avatar img-circle" alt="avatar">
                        </div>
                        <input type="file" class="form-control" id="input-change-group-avatar" name="group-avatar"><br>
                        <div id="show-button-update-group-avatar"></div>
                    </div>
                    <div class="form-group" style="width: 45%;">
                        <label class="col-md-3 control-label">Groupname:</label>
                            <div class="col-md-8">
                                <input id="input-change-groupname" class="form-control" type="text" name="groupname" value="">
                            </div>
                        <div style="display: inline-block;margin: 10px;">
                            Số lượng thành viên trong nhóm:  
                            <% if(countAllContacts > 0){ %>
                                    <%= countAllContacts %>
                            <%}else{ %>
                                <span class=" display-none">
                                    </span>
                            <%} %>
                        </div>
                    </div>
                </div>
                <div id="find-user-group" class="tab-pane fade in active">
                    <div class="find-user-top" style="margin-top: 0px !important;">
                        <div class="input-group col-md-12">
                            <input id="input-find-users-group" type="text" class="form-control" placeholder="Tìm thành viên trong nhóm..." />
                            <span class="input-group-btn">
                                <button id="btn-find-users-group" class="btn btn-lg" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="find-user-bottom">
                    <ul class="contactList" id="groupinfo-contact-list">
                        <% contacts.forEach(function(user) {  %> 
                            <li class="_contactList" data-uid="<%= user._id %>">
                                <div class="contactPanel">
                                    <div class="user-avatar">
                                        <img src="../../images/users/<%= user.avatar %>" alt="">
                                    </div>
                                    <div class="user-name">
                                        <p>
                                            <%= user.username %>
                                        </p>
                                    </div>
                                    <br>
                                    <div class="user-address">
                                        <span>&nbsp <%= user.address %></span>
                                    </div>
                                    <div class="user-talk" data-uid="<%= user._id %>">
                                        Xóa khỏi nhóm
                                    </div>
                                </div>
                            </li>
                        <% }); %>
                    </ul>
                    <hr>
                        <div class="read-more-contacts">
                            <a href="#" id="read-more-contacts">
                                    <strong>Xem thêm 10 thành viên</strong>
                            </a>
                        </div>
                    <hr>
                </div>
                <div class="group-btn-info">
                    <input type="button" id="input-btn-update-group" class="btn btn-primary custom-background-btn-primary" name="submit" value="Lưu lại">
                    <span></span>
                    <input type="button" id="input-btn-cancel-update-group" class="btn btn-default custom-background-btn-reset" value="Hủy bỏ">
                </div>
            </div>
        </div>
    </div>
</div>